.cartPic {
    height: 10vh;
}

.bouquetName {
    display: grid;
}

.order__wrap {
    display: grid;
    grid-template-columns: 5fr 3fr 3fr 2fr;
    padding: 10px 10px 10px 10px;
}

.bouquetPic {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.quantity {
    display: flex;
}

#button__quantity {
    width: 3vw;
    background-color: white;
    font-weight: bolder;
    color: #bf4e55;
    border-color: rgb(199, 193, 193);
}

#button__quantity:hover {
    border-color: #bf4e55;
}

#btn_group {
    border-color: #bf4e55;
}

#count {
    color: black;
    background-color: white;
    cursor: auto;
}

.control {
    display: flex;
    flex-direction: row;
}

.addings {
    font-size: small;
}

.link {
    text-decoration: none;
    color: black;
}

.link:hover {
    color: black;
}

.price {
    padding-left: 2vw
}